@font-face {
  font-family: "iconfont"; /* Project id 2598814 */
  src: url('static/iconfont/font/iconfont.woff2?t=1676972352620') format('woff2'),
       url('static/iconfont/font/iconfont.woff?t=1676972352620') format('woff'),
       url('static/iconfont/font/iconfont.ttf?t=1676972352620') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shandiao:before {
  content: "\e654";
}

.icon-kuaijin:before {
  content: "\e655";
}

.icon-rijie:before {
  content: "\e642";
}

.icon-kefu:before {
  content: "\e658";
}

.icon-kongxinwenhao:before {
  content: "\ed19";
}

.icon-paixu:before {
  content: "\e640";
}

.icon-faqijiezhang:before {
  content: "\e63f";
}

.icon-jiezhang:before {
  content: "\ebe6";
}

.icon-weibiaoti:before {
  content: "\e641";
}

.icon-toupai:before {
  content: "\e665";
}

.icon-daoyou:before {
  content: "\e6ee";
}

.icon-yulan:before {
  content: "\e668";
}

.icon-diancai:before {
  content: "\e625";
}

.icon-diancaibeijing:before {
  content: "\e63c";
}

.icon-jiaoyimingxichaxun:before {
  content: "\e66c";
}

.icon-huiyuanqia:before {
  content: "\e689";
}

.icon-kaquanyingxiao:before {
  content: "\e63b";
}

.icon-icon_A:before {
  content: "\e69e";
}

.icon-liebiao1:before {
  content: "\e61b";
}

.icon-huiyuan:before {
  content: "\e67f";
}

.icon-yiguoqi:before {
  content: "\e743";
}

.icon-yihexiao:before {
  content: "\e636";
}

.icon-yizuofei1:before {
  content: "\e63a";
}

.icon-daiyongquan:before {
  content: "\e7c4";
}

.icon-daijinquan:before {
  content: "\e7e3";
}

.icon-chenggong:before {
  content: "\e62f";
}

.icon-mendian1:before {
  content: "\e61e";
}

.icon-jifen:before {
  content: "\e74b";
}

.icon-licai-jine-beibao:before {
  content: "\e61d";
}

.icon-nvshi:before {
  content: "\e798";
}

.icon-nanshi:before {
  content: "\e799";
}

.icon-caozuochenggong:before {
  content: "\e61c";
}

.icon-206:before {
  content: "\e635";
}

.icon-fukuan:before {
  content: "\e675";
}

.icon-quan:before {
  content: "\e6f0";
}

.icon-chongzhi:before {
  content: "\e648";
}

.icon-piaoquanhexiao-copy:before {
  content: "\e615";
}

.icon-piaoquan:before {
  content: "\ea8e";
}

.icon-daifukuan:before {
  content: "\e66a";
}

.icon-membership-card_icon-copy:before {
  content: "\e619";
}

.icon-card:before {
  content: "\e62b";
}

.icon-phone:before {
  content: "\e63d";
}

.icon-VIP1:before {
  content: "\e83d";
}

.icon-VIP:before {
  content: "\e9f0";
}

.icon-jiaojie:before {
  content: "\e613";
}

.icon-zuzhijiagou:before {
  content: "\e617";
}

.icon-zuzhijiagou1:before {
  content: "\e611";
}

.icon-xiaoshoubaobiao:before {
  content: "\e631";
}

.icon-yejitongji:before {
  content: "\e60c";
}

.icon-yejitongji1:before {
  content: "\e632";
}

.icon-web-icon-:before {
  content: "\e70c";
}

.icon-web-icon-1:before {
  content: "\e70d";
}

.icon--baobiao:before {
  content: "\e60e";
}

.icon-ruyuanyuyuetongji:before {
  content: "\e633";
}

.icon-yewuyuanyejitongji:before {
  content: "\e77b";
}

.icon-ERPv_iconshangchuantubiao-:before {
  content: "\e8a0";
}

.icon-yejitongji2:before {
  content: "\e66b";
}

.icon-xiaoshouyejitongji:before {
  content: "\e62a";
}

.icon-xiangmuxiaoshoubaobiao:before {
  content: "\e724";
}

.icon-ticheng:before {
  content: "\e65b";
}

.icon-kehuguanli:before {
  content: "\e610";
}

.icon-tuandui:before {
  content: "\e608";
}

.icon-jiaoyijilu:before {
  content: "\e634";
}

.icon-weixinsaoma:before {
  content: "\e669";
}

.icon-renminbi:before {
  content: "\e672";
}

.icon-youhuiquan:before {
  content: "\e653";
}

.icon-weixinzhifu1:before {
  content: "\e607";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-yunshanfuzhifu:before {
  content: "\e6f3";
}

.icon-chuzhika:before {
  content: "\ec69";
}

.icon-saoma:before {
  content: "\e623";
}

.icon-xianjin1:before {
  content: "\e620";
}

.icon-zhifubaozhifu:before {
  content: "\e652";
}

.icon-yinlianqia:before {
  content: "\e637";
}

.icon-yinlianka:before {
  content: "\e604";
}

.icon-yunshanfu:before {
  content: "\e605";
}

.icon-weixinzhifu:before {
  content: "\e629";
}

.icon-vip-card:before {
  content: "\e6b8";
}

.icon-saomazhifu:before {
  content: "\e736";
}

.icon-yifukuan:before {
  content: "\e651";
}

.icon-zhangdanjine:before {
  content: "\e65a";
}

.icon-zhekou:before {
  content: "\e74d";
}

.icon-jiudanweikong:before {
  content: "\e671";
}

.icon-jiudan:before {
  content: "\e682";
}

.icon-liwuhuodong:before {
  content: "\e603";
}

.icon-hrwelfarestaffSaleSend:before {
  content: "\e644";
}

.icon-ziyuan:before {
  content: "\e606";
}

.icon-cunjiu:before {
  content: "\e601";
}

.icon-zhangdanmingxi-xiugai:before {
  content: "\e63e";
}

.icon-erweima:before {
  content: "\e645";
}

.icon-jikediancanicon21:before {
  content: "\e783";
}

.icon-renshu:before {
  content: "\e64d";
}

.icon-jinriyingye:before {
  content: "\e628";
}

.icon-dishreturn:before {
  content: "\e626";
}

.icon-emptyfile:before {
  content: "\e60d";
}

.icon-jisongda:before {
  content: "\e622";
}

.icon-gengduo1:before {
  content: "\e612";
}

.icon-qingji:before {
  content: "\e61a";
}

.icon-zhuangtai:before {
  content: "\e646";
}

.icon-xiadan:before {
  content: "\e657";
}

.icon-jinchurukou:before {
  content: "\e60b";
}

.icon-chifatixing:before {
  content: "\e663";
}

.icon-tianjiachengke:before {
  content: "\e643";
}

.icon-booking02:before {
  content: "\e6a9";
}

.icon-iconfontzhizuobiaozhunbduan28:before {
  content: "\e6e2";
}

.icon-xing:before {
  content: "\e656";
}

.icon-Up:before {
  content: "\e62e";
}

.icon-right:before {
  content: "\ec6a";
}

.icon-down:before {
  content: "\e609";
}

.icon-quxiao1:before {
  content: "\e638";
}

.icon-gouwuche:before {
  content: "\e6c9";
}

.icon-xuanze:before {
  content: "\e62d";
}

.icon-xuanzhong:before {
  content: "\e614";
}

.icon-p-delet:before {
  content: "\e66d";
}

.icon-renyuanguanli:before {
  content: "\e618";
}

.icon-ziliao1:before {
  content: "\e774";
}

.icon-quanxianbumen:before {
  content: "\e627";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-dingyue:before {
  content: "\e602";
}

.icon-icon2:before {
  content: "\e60f";
}

.icon-mendian:before {
  content: "\e64f";
}

.icon-liebiao:before {
  content: "\e6ae";
}

.icon-search:before {
  content: "\e64a";
}

.icon-shangjianpai:before {
  content: "\e624";
}

.icon-xiangmu:before {
  content: "\e621";
}

.icon-mima:before {
  content: "\e639";
}

.icon-mima1:before {
  content: "\e630";
}

.icon-add:before {
  content: "\e6d5";
}

.icon-zhangdan:before {
  content: "\e6c5";
}

.icon-zhangdanguanli:before {
  content: "\e62c";
}

.icon-shoukuan:before {
  content: "\e616";
}

.icon-guanli:before {
  content: "\e61f";
}

.icon-zengjiahuiyuan:before {
  content: "\e7dc";
}

.icon-shezhi:before {
  content: "\e649";
}

.icon-del-team:before {
  content: "\e647";
}

.icon-add1:before {
  content: "\e64b";
}

.icon-zanwutupian1:before {
  content: "\e650";
}

.icon-remove:before {
  content: "\e64c";
}

